.header
    background: url('../media/hg-logo.jpg')
    background-position: center
    background-repeat: no-repeat

.header .contenedor-icono 
    position: absolute
    z-index: 99
    bottom: 3%
    left: 50%
    font-size: 40px
    animation: bajar-subir 1s ease infinite

/* ------------------------- */
/* Animaciones */
/* ------------------------- */

@keyframes bajar-subir
    0%
        transform: translateY(20px)
    25%
        transform: translateY(0px)
    100%
        transform: translateY(20px)