@media screen and (max-width: 920px)
    .nav
        display: none

    .nav-mobile
        display: flex

    .header
        background: none
        height: 100vh
        .contenedor-logo 
            max-width: 100% !important
            padding: 0 2em
        .ventana
            display: none

    .titulo
        font-size: 1em

    .contenedor-quienes-somos h2
        padding: .5em

    .contenedor-quienes-somos .contenedor
        margin: 0 1em 3em 1em
        padding: 1em
        p
            font-size: .7em

    .producto-foto h3
        margin: 0 1em

    .fp-controlArrow.fp-next, .fp-controlArrow.fp-prev
        top: 80vh

    .contenedor-news .contenedor
        flex-direction: column
        margin: 0 1em 3em 1em

    .contenedor-news .contenedor .news-nota, .contenedor-news .contenedor .news-instagram
        width: 100%

    .contenedor-news .contenedor .news-nota a p, .contenedor-news .contenedor .news-instagram a p
        padding: 1em
        font-size: .7em

    .contenedor-news .contenedor .news-nota a i, .contenedor-news .contenedor .news-instagram a i
        font-size: 3em

    .contenedor-news .contenedor .news-nota a img, .contenedor-news .contenedor .news-instagram a img
        height: 10em

    .contenedor-footer .contenedor
        flex-direction: column
        margin: 0 1em 3em 1em

    .formulario__contenedor h2
        font-size: 1em

    .formulario__boton
        margin: 0

    .formulario__grupo input, .formulario__grupo textarea
        margin: 3px 0
        font-size: .7em
    
    .formulario__grupo textarea
        height: 3.5rem

    .contenedor-footer .footer__contenedor-form, .contenedor-footer .footer__datos
        width: 100%
        align-items: center

    .formulario__boton
        height: 35px
        
    .contenedor-footer .footer__datos
        a
        font-size: .7em
        iframe
            height: 50%